<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://LocalHost:3306/acareader</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.default_schema">acareader</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <mapping class="com.accountomation.acareader.model.Employee"/>
        <mapping class="com.accountomation.acareader.model.DateMap"/>
        <mapping class="com.accountomation.acareader.model.ACAStatus"/>
    </session-factory>
</hibernate-configuration>
